<script>
		function appraiseeFormatResult(appraisee) {
		    var markup = "<table class='appraisee-result'><tr>";
		    markup += "<td class='appraisee-info'><div class='appraisee-title'>" + appraisee.appraisee_info + "</div>";
		    markup += "</td></tr></table>"
		    return markup;
		}
		function appraiseeFormatSelection(appraisee) {
		    return (appraisee.appraisee_info);
		}	
</script>

<script>
		$(document).ready(function(){
			$("#appraisal_appraisee_ids_").select2({
				placeholder: "<%=t('appraisal_appraisees')%>",
				multiple: true,
				ajax: {
					url: '/appraisal_appraisees.json',
					dataType: 'json',
					data: function (term, page) {
						return {
							q: term,
							page_limit: 10,
							page: page
						};
					},
					results: function (data, page) {
					    var more = (page * 10) < data.total; 
					    return {results: data.appraisees, more: more};
					}
				},
				formatResult: appraiseeFormatResult,
				formatSelection: appraiseeFormatSelection,
			    dropdownCssClass: "bigdrop", 
				formatSearching: function () { return "Buscando..."; },
				formatNoMatches: function () { return "Nenhum resultado encontrado."; },			
				escapeMarkup: function (m) { return m; }
			});



		});
</script>