<script>
		function participantFormatResult(participant) {
		    var markup = "<table class='participant-result'><tr>";
		    markup += "<td class='participant-info'><div class='participant-title'>" + participant.participant_info + "</div>";
		    markup += "</td></tr></table>"
		    return markup;
		}
		function participantFormatSelection(participant) {
		    return (participant.participant_info);
		}	
</script>

<script>
		$(document).ready(function(){
			$("#appraisal_user_ids_").select2({
				placeholder: "<%=t('appraisal_participants')%>",
				multiple: true,
				ajax: {
					url: '/appraisal_participants.json',
					dataType: 'json',
					data: function (term, page) {
						return {
							select2_on: true,
							q: term,
							page_limit: 10,
							page: page
						};
					},
					results: function (data, page) {
					    var more = (page * 10) < data.total; 
					    return {results: data.participants, more: more};
					}
				},
				formatResult: participantFormatResult,
				formatSelection: participantFormatSelection,
			    dropdownCssClass: "bigdrop", 
				formatSearching: function () { return "Buscando..."; },
				formatNoMatches: function () { return "Nenhum resultado encontrado."; },			
				escapeMarkup: function (m) { return m; }
			});



		});
</script>