.appraisals-questions {
	    background-color: whitesmoke;
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.appraisals-question-options {
    background-color: #e8e8e8;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 5px;
    padding-top: 10px;
}

dt.appraisal-lists {
    border-bottom: none;
}
dd.appraisal-lists {
    margin-left: 5px;
}