.select2-container-multi .select2-choices {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-danger {
    color: #a94442;
}

dd {
    margin-left: 0;
}

.btn.btn-danger {
    color: white;
}

.sidebar {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 1000;
}

.nav-sidebar {
    margin-bottom: 20px !important;
    margin-left: -20px;
    margin-right: -21px;
}

.tpa-page-title {
    border-bottom: 1px solid #eee;
}

.tpa-container {
    margin-top: -10px;
}

.tpa-left-menu-icon {
    margin-right: 10px;
}

dt {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

dd {
    margin-bottom: 30px;
}


.span-danger {
    color: #a94442;
}

.tpa-container a.active {
    background-color: #e5e5e5;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #ddd !important;
}

.form-actions {
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e5e5e5;
    margin-left: -15px;
    margin-right: -15px;
    padding: 17px 20px 18px;
    margin-top: 20px;
}

.tpa-content {
    padding-top: 20px;
    border: 1px solid #eee;
}

.restrict-dependency {
    font-size: 12px;
    color: #7f7f7f;
}